* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
}

.dragarea {
  display: inline-block;
  background-color: red;
  width: 100px;
  height: 100px;
}

img {
  width: 80px;
  height: 80px;
  padding: 10px;
}

#drop_zone {
  border: 1px dashed gray;
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: whitesmoke;
}

#drop_zone p {
  padding-top: 200px;
  color: gray;
}

form {
  position: relative;
  top: 40px;
  left: 2%;
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
  text-align: center;
  border: 1px dashed gray;
}

form h2 {
  color: gray;
}

form div {
  display: block;
  padding: 10px;
}

.upload-btn {
  text-transform: capitalize;
}

.upload-btn:hover {
  cursor: pointer;
}

ul {
  position: relative;
  left: 2%;
  background-color: beige;
  width: 420px;
  margin-top: 100px;
  border: 1px dashed gray;
}

li {
  display: inline-block;
}

div p {
  text-align: center;
}

.x-close {
  position: relative;
  top: 10px;
  float: right;
  color: darkred;
}

.x-close:hover {
  color: red;
  cursor: pointer;
}

#drop-down-box {
  position: absolute;
  top: 8%;
  left: 55%;
}

div h2 {
  position: absolute;
  left: 2%;
}

ul, .main-container {
  display: block;
}

.main-container h2 {
  position: relative;
  top: 100px;
}

.main-container p {
  position: relative;
  top: 140px;
  left: 10%;
}

.pending-container {
  position: absolute;
  margin-top: 10px;
  left: 2%;
}